{% set posts = blogPosts.posts %}

{% for post in posts %}

    {% if post.featured_images.count %}
        {% set image = post.featured_images[0] %}
        <post-card>
            <div slot="post-image" class="card-image" style="background-image: url( {{ image.path }} ); ">
            </div>
            <template slot="post-title">{{ post.title }}</template>
            <template slot="post-highlight">
                {{ post.summary|raw }}
            </template>
        </post-card>
    {% endif %}

{% endfor %}
