.is-loading {background: red;}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora';
    font-weight: 600;
}

body {
    font-family: 'B612';
    background-color: rgb(246,246,246,1.0);
}

header {
    text-transform: uppercase;
    padding-top: 20px;
    background-color: #ffffff;
}

header h1 {
    font-weight: 400;
}

.navbar-start {
    width: 100%;
    justify-content: center
}

.navbar-start a {
    margin: 0px 20px;
}

.navbar-burger {
    margin: auto;
}

/* Showcase card */
.showcase-image {
    display: block;
    margin: auto;
    border-radius: 50%;
}

.showcase-card {
    padding: 0px;
    border-radius: 20px;
}

.showcase-card-image-slot {
    padding: 40px;
    background-color: rgb(15, 183, 186, 0.7);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.content {
    padding: 40px;
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* Generic card */
.latest-content-header {
    margin-bottom: 20px;;
}

.content-card {
    border-radius: 20px;
    /* border-style: solid;
    border-width: 2px; */
}

.content-card .card-content {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.content-card .card-image, .content-card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}

/* .content-card .card-image {
    position: relative;
}

.content-card img {
    position: absolute;
    z-index: -1;
}  */

.content-card .card-image {
    overflow: hidden;
}

.content-card img {
    min-height: 100%;
    min-width: 100%;
}

.card-content h3 {
    word-wrap: break-word;
}

p {
    margin-top: 10px;;
}